<div class="pensamento {{pensamento.modelo}} ff-roboto-mono" [ngClass]="larguraPensamento()">
    <img src="/assets/{{pensamento.modelo}}.png" alt="Aspas">
    <p class="conteudo">{{pensamento.conteudo}}</p>
    <p class="autoria"><b>{{pensamento.autoria}}</b></p>
    <div class="acoes">
        <button class="botao-favorito" (click)="alterarFavorito()">
            <span>{{mudarIconeFavorito()}}</span>
        </button>
        <button class="botao-editar" routerLink="/editar-pensamento/{{pensamento.id}}">
            <img src="/assets/icone-editar.png" alt="Editar">
        </button>
        <button class="botao-excluir" routerLink="/excluir-pensamento/{{pensamento.id}}">
            <img src="/assets/icone-excluir.png" alt="Excluir">
        </button>
    </div>
</div>